.menu {
    display: flex;
  }
  h2 {
    font-display: block;
    color: whitesmoke;
    text-align: center;
    font: 1.5em sans-serif;
  }
  h1 {
    font-display: block;
    color: pink;
    text-align: center;
  }
  p {
    text-align: center;
    font: sans-serif;
    color:whitesmoke;
    font-size: large;
  }
  body {
    background: url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?cs=srgb&dl=pexels-neo-853421-2653362.jpg&fm=jpg);
  }
  
  .menu a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    transition: background-color 0.3s ease;
  }
  
  .menu a:hover {
    background-color: #e0e0e0;
  }ss
  .about {
    display: flex;
  }
  
  .about a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .about a:hover {
    background-color: #e0e0e0;
  }
  .work a:hover {
    background-color: #e0e0e0;
  }
  .profile-image {
    width: 800px; 
    height: auto; 
    margin: 50px; 
    box-shadow: #e0e0e0;
}
footer {
    color: wheat;
    text-align: center;
  }

  